[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
matplotlib = "*"
yfinance = "*"
ipython = "*"
"google.generativeai" = "*"
python-dotenv = "*"
seaborn = "*"
import = "*"
as = "*"
qs = "*"

[dev-packages]

[requires]
python_version = "3.12"
