[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
matplotlib = "*"
yfinance = "*"
quantstats = "*"
ipython = "*"
"google.generativeai" = "*"
python-dotenv = "*"
numpy = "==1.26.4"
yahooquery = "*"

[dev-packages]

[requires]
python_version = "3.12"
