<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio Backtesting</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
  <h1>Portfolio Backtesting</h1>
  <form id="reportForm" method="post" action="/">
    <label for="cs_model">Choose Cross-Sectional Model:</label>
    <select id="cs_model" name="cs_model">
      <option value="EW">Equal Weight (EW)</option>
      <option value="MSR">Maximum Sharpe Ratio (MSR)</option>
      <option value="GMV">Global Minimum Variance (GMV)</option>
      <option value="MDP">Minimum Drawdown Risk (MDP)</option>
      <option value="EMV">Equal Risk Contribution (EMV)</option>
      <option value="RP">Risk Parity (RP)</option>
    </select>

    <label for="ts_model">Choose Time-Series Model:</label>
    <select id="ts_model" name="ts_model">
      <option value="VT">Volatility Targeting (VT)</option>
      <option value="CVT">Conditional Value at Risk Targeting (CVT)</option>
      <option value="KL">Kelly Criterion (KL)</option>
      <option value="CPPI">Constant Proportion Portfolio Insurance (CPPI)</option>
    </select>

    <label for="stock">Select Stock:</label>        
      <input type="text" id="companyName1" placeholder="Enter company name">
      <div id="result1"></div>
      <input type="text" id="companyName2" placeholder="Enter company name">
      <div id="result2"></div>
      <input type="text" id="companyName3" placeholder="Enter company name">
      <div id="result3"></div>
      <input type="text" id="companyName4" placeholder="Enter company name">
      <div id="result4"></div>
      <button type="button" onclick="getTicker()">Get Ticker</button>

      <div>
        <input type="text" id="inputField" placeholder="Enter company name">
        <button type="button" onclick="checkInput()">Search</button>
        <span id="approvalMessage" style="display: none;" class="approved">approved</span>
        <span id="disapprovalMessage" style="display: none;" class="disapproved">wrong name</span>
      </div>
      <div>
        <input type="text" id="inputField" placeholder="Enter company name">
        <button type="button" onclick="checkInput()">Search</button>
        <span id="approvalMessage" style="display: none;" class="approved">approved</span>
        <span id="disapprovalMessage" style="display: none;" class="disapproved">wrong name</span>
      </div>
      <div>
        <input type="text" id="inputField" placeholder="Enter company name">
        <button type="button" onclick="checkInput()">Search</button>
        <span id="approvalMessage" style="display: none;" class="approved">approved</span>
        <span id="disapprovalMessage" style="display: none;" class="disapproved">wrong name</span>
      </div>      

    <button type="submit" class="button">Generate Report</button>
  </form>

  <div class="button-container">
    <button type="button" id="backtestResultButton" class="button">Backtest Result</button>
    <button type="button" id="detailedReportButton" class="button">Detailed Report</button>
  </div>

  <div class="content">
    <div id="backtestResult" class="content-box"></div>
    <div id="detailedReport" class="content-box"></div>
  </div>

    <div class="sidebar" id="sidebar">
        <button class="toggle-button" onclick="toggleSidebar()">☰</button>
        <div class="sidebar-content" id="sidebarContent">
            <div class="container bg-white rounded-lg shadow-md">
                <h1 class="text-3xl font-bold mb-4 text-center">ChatBot</h1>
                <div class="chat" id="chatContainer"></div>
                <div class="image-container hidden" id="imageContainer"></div>
                <div class="flex">
                  <input
                  type="text"
                  id="userInput"
                  placeholder="Type your message here..."
                  class="outline-none"
                  onkeyup="handleKeyPress(event)"
                />                   
                 <button class="send-button" onclick="sendMessage()">Send</button>
                </div>
                <div class="typing-indicator" id="typingIndicator"></div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
 </body>
</html>

<!-- image moddal -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>

  
  <script>
    document.getElementById('backtestResultButton').addEventListener('click', function() {
      const cs_model = document.getElementById('cs_model').value;
      const ts_model = document.getElementById('ts_model').value;

      fetch('/Backtest_result', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ cs_model: cs_model, ts_model: ts_model }),
      })
        .then(response => response.json())
        .then(data => {
          if (data.error) {
            console.error('Error:', data.error);
            return;
          }
          document.getElementById('backtestResult').innerHTML = `
            <div class="image" id="image1">
              <img src="data:image/png;base64,${data.port_weights_img}" alt="Portfolio Weights">
            </div>
            <div class="image" id="image2">
              <img src="data:image/png;base64,${data.asset_performance_img}" alt="Asset Performance">
            </div>
            <div class="image" id="image3">
              <img src="data:image/png;base64,${data.portfolio_performance_img}" alt="Portfolio Performance">
            </div>
          `;
          document.getElementById('backtestResult').classList.add('active');
          document.getElementById('detailedReport').classList.remove('active');

          // image click event 
          const images = document.querySelectorAll('.image img');
          images.forEach(img => {
            img.addEventListener('click', function() {
              const modal = document.getElementById("myModal");
              const modalImg = document.getElementById("img01");
              const captionText = document.getElementById("caption");
              modal.style.display = "block";
              modalImg.src = this.src;
              captionText.innerHTML = this.alt;
            });
          });
        })
        .catch(error => {
          console.error('Error:', error);
        });
    });

    document.getElementById('detailedReportButton').addEventListener('click', function() {
      const cs_model = document.getElementById('cs_model').value;
      const ts_model = document.getElementById('ts_model').value;

      fetch('/generate_html_report', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ cs_model: cs_model, ts_model: ts_model }),
      })
        .then(response => response.json())
        .then(data => {
          if (data.error) {
            console.error('Error:', data.error);
            return;
          }
          document.getElementById('detailedReport').innerHTML = data.report_html;
          document.getElementById('detailedReport').classList.add('active');
          document.getElementById('backtestResult').classList.remove('active');
        })
        .catch(error => {
          console.error('Error:', error);
        });
    });


    // modal close
    const modal = document.getElementById("myModal");
    const span = document.getElementsByClassName("close")[0];
    span.onclick = function() {
      modal.style.display = "none";
    }
  </script>
</body>
</html>